.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.w-1\/2 {
  width: 50%;
}

.gap-sm {
  gap: clamp(0.5em, 2vw, 1em)
}

.gap {
  gap: clamp(1em, 3vw, 2.5em) 
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-block-end: 0;
}

.mb-1 {
  margin-block-end: 1em;
}

.mb-2 {
  margin-block-end: 2em;
}

.mt-1\/2 {
  margin-block-start: 0.5em;
}

.mt-1 {
  margin-block-start: 1em;
}

.mt-2 {
  margin-block-start: 2em;
}

.mt-3 {
  margin-block-start: 3em;
}

.mt-4 {
  margin-block-start: 4em;
}

.my-content {
  margin-block: 4em;
}

.p-0 {
  padding: 0;
}

.pb-1 {
  padding-block-end: 1em;
}
