---
layout: default
isFrontPage: true
---

<div class="full grid-content bg-pattern-dot pt-content pb-4 relative overflow-hidden bg-white-gradient-center flow">
  <div class="feature bg-white-gradient-center bg-white-gradient-bottom-right relative">
    <div class="relative z-1">
      {% assign image = "public/img/collage.png" | relative_url %}
      {% include components/hero.html
        header = "Welcome to the National Center for Charitable Statistics (NCCS) open data platform"
        description = "Consectetur atque culpa ad quidem ex? Deleniti atque error necessitatibus cumque quisquam. Fugit necessitatibus commodi eveniet."
        ctaUrl = "#"
        ctaText = "Hero CTA Link"
        ctaIcon = "external"
        imageUrl = image
        imageAlt = "A11y description"
      %}
    </div>
  </div>

  <div class="content text-center flow-4 relative bg-white-gradient-center">
    <div class="relative z-1">
      {% include components/content-feature.html
        header = "Nullam quis risus eget urna mollis"
        description = "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum."
        ctaUrl = "#"
        ctaText = "Learn how to use NCCS data"
        imageUrl = "https://placehold.co/855x555"
        imageAlt = "A11y description"
      %}
    </div>
  </div>
</div>

<div class="filter full mt-0" data-module="filter">

  {% for post in site.datasets %}
    {% for category in post.categories %}
      {% capture all_categories %}
        {% if all_categories %}
          {{ all_categories | join: "," }},{{ category }}
        {% else %}
          {{ category }}
        {% endif %}
      {% endcapture %}
    {% endfor %}
  {% endfor %}

  {% assign all_categories = all_categories | split: "," | uniq %}

  <div class="grid-content flow flow-2">
    {% include components/filter-controls.html
      header = "All Datasets"
      termTitle = "category"
      terms = all_categories
    %}

    <div class="posts mt-4">
      {% for post in site.datasets %}
        {% assign postUrl = post.url | relative_url %}
        {% include components/card-horizontal.html
          header = post.title
          description = post.description
          date = post.date
          href = postUrl
          categories = post.categories
        %}
      {% endfor %}
    </div>
  </div>
</div>
