*, *:before, *:after {
  box-sizing: border-box;
}

body {
  @include fluid-font(16, 20);
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: $color-link;
  transition: color $transition-speed-default $ease-out-quad;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-link-hover;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
  }
}

ul, ol {
  padding-inline-start: 1em;
}

code {
  font-family: "Fira Code", "JetBrains Mono", "Source Code Pro", Inconsolata,
    Consolas, MonoLisa, Monoid, Menlo, Monaco, Andale Mono WT, Andale Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L,
    monospace;
}

hr {
  border: 0;
  border-top: 1px solid $color-neutral-500;
}

// Flexible Grid
// There are 4 sizes defined, starting from inward to outward:
// content, popout, feature, full

.grid-content {
  display: grid;
  grid-template-columns: [full-start] #{$grid-full} [feature-start] #{$grid-feature} [popout-start] #{$grid-popout} [content-start] #{$grid-content} [content-end] #{$grid-popout} [popout-end] #{$grid-feature} [feature-end] #{$grid-full} [full-end];
}

.grid-sidebar {
  display: grid;
  grid-template-columns: [full-start] #{$grid-full} [content-start] #{$grid-content} [content-end] #{$grid-full} [full-end];

  @include breakpoint(md) {
    grid-template-columns: [full-start] #{$grid-full} [sidebar-start] #{$grid-sidebar} [sidebar-end gap-start] #{$grid-sidebar-gap} [gap-stop content-start] #{$grid-sidebar-content} [content-end] #{$grid-full} [full-end];
  }
}

.grid-feature {
  display: grid;
}

// Set default grid assignment
.grid-content > * {
  grid-column: content;
}

.full {
  grid-column: full;
}

.feature {
  grid-column: feature;
}

.popout {
  grid-column: popout;
}

.content {
  grid-column: content;
}

.sidebar {
  grid-column: content;

  @include breakpoint(md) {
    grid-column: sidebar;
  }
}

// Inset content, for setting flush with content inside a full or feature element
.grid-inner-content {
  width: $grid-content;
  margin: 0 auto;
}

.grid-inner-feature {
  max-width: $grid-container;
  margin: 0 auto;
}
