// Neutrals
$color-white: hsla(0, 0%, 100%, 1);

// Blues
$color-blue-500: hsla(199, 81%, 45%, 1);
$color-blue-700: hsla(199, 80%, 35%, 1);
$color-blue-800: hsla(199, 83%, 23%, 1);
$color-blue-900: hsla(199, 80%, 12%, 1);
